/* importing style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* common style and some habijabi style */

body {
    font-family: 'Poppins', sans-serif;

    border: 2px solid black;
    margin: 0 5%;
    max-width: 1200px;



}

.containter {
    margin-top: 50px;
    border: 2px solid blueviolet;
    padding-bottom: 20px;
}

.half-width {
    width: 50%;

}




/* style for head part */

.head-title {
    color: #3A3A3A;
    font-size: 24px;

    width: 243px;

}


/* main-part style */


/* heading */

.heading {
    display: flex;
    padding-left: 30px;


}



.heading-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

}

.heading-text h1 {
    font-size: 52px;
    color: #3A3A3A;
}

.head-button {
    display: flex;
    align-items: center;


}

.button-filled {
    background-color: #E02C6D;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;

}


.fa-arrow-right {

    padding-left: 3px;
    width: 10px;
}

.heding-image img {
    width: 70%;
    padding-left: 20%;
    margin-right: 10%;
}


.populer-items-title {
    border: 2px solid blueviolet;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;

}

.products {

    display: grid;
    padding: 20px 0;

    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 30px;
    background-color: #ffefef;
}

.product {

    padding: 10px;
    background-color: #ffffff;
}

.prduct-rating span {
    padding-left: 7px;
}

.fa-star,
.fa-star-half {
    color: #FB8200;
}

.product-info {
    max-width: 70%;
}